
{% extends '::base.html.twig' %}
 
{% block title %}Mi Symfony{% endblock %}

{% block body %}	
	<h1>Hola {{ name }}!</h1>
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
	{% endfor %}

	{% if yomismo != null %}
		<p>web creada por {{ yomismo }}</p>	
	{% endif %}
{% endblock %}
